edit.erb
<h1>Update your details and venue list<%= @user.name%></h1>


<h2>"Check out your current tour stops, <%@user_venues.each do |id|
  if user.id == session[:user_id]
    
first_name%>!"</h2>



<h3>Link to a venue for its details.
<form action="/users/tour" method="POST">
<% @venues.each do |venue| %>
  <input type="checkbox" name="user[venue_ids][]" id="<%= venue.id %>" value="<%= venue.id %>" <%'checked' if @user.venues.include?(venue)%>>  <label for="<%= venue.id %>"><a href="<%= venue %>"><%= venue.name %></a></label>
  <h5>      <%=venue.city%>, <%= venue.state%></h5>
  <br>
<% end %>
<h3>Check the venues you wish to tour.</h3>  
</h3>

    <h3>Custom Venue</h3>
    <label>Venue Name: </label>
    <br>
    <input type="text" name="venue[name]" id="venue_name">
    <br><br>
 
    <input id="add_venue" type="submit" value="Add Custom Venue">
</form>
