edit.erb


  <div class="user_detail_edits">
    <form action="/users/<%=@user.id%>" method="POST">

      <input id="hidden" type="hidden" name="_method" value="patch">
      <label>Edit your User details:</label>
      <br>
      <input type="text" name="user[first_name]" value="<%= @user.first_name %>" placeholder="Edit your first name"/>
      <input id="user_details" type="submit" value="Update Your Details">      
    </form>
    <br>
  </div>

  <div class="edit_user_venues">
      <h3>Link to a venue for its details.</h3>
      <form action="/users/<%=@user.id%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">      
      <% @venues.each do |venue| %>
        <input type="checkbox" name="user[venue_ids][]" id="<%= venue.id %>" value="<%= venue.id %>" <%='checked' if @user.venues.include?(venue) %>> 
        <label for="<%= venue.id %>"><a href="<%= venue %>"><%= venue.name %></a></label>
        <h5>      <%=venue.city%>, <%= venue.state%></h5>
      <% end %>
            <input id="edit_tour_stops" type="submit" value="Update Tour Stops">
      </form>
      <h3>Check the venues you wish to tour.</h3> 
      <br>
  </div>



  <div class="custom_venue">
      <h3>Create Your Custom Venue</h3>
      <form action="/users/<%=@user.id%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label>Venue Name: </label>
    <br>
      <input type="text" name="venue[name]" id="venue_name" placeholder="Enter venue name...">
    <br><br>
    
      <input id="edit_tour" type="submit" value="Add Your Edits">
    </form>
    
  </div>
